<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="topologyMapper">

	<resultMap id="ItemMap"
		type="com.lgit.stockmgmt.domain.Item">
		<result property="devId" column="part_project_code" />
		<result property="projectId" column="project_name" />
	</resultMap>

	<select id="selectItemList" resultMap="ItemMap">
	SELECT `part_project_code`, `part_name`
	 FROM
		tb_part
	</select>
<!--  	SELECT * FROM -->
</mapper>
